<a href="https://colab.research.google.com/github/YOUR_USERNAME/YOUR_REPOSITORY/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 100 Programming Challenges

**Instructions:**
* Run each cell to see the question.
* Write your code in the empty cell below each question.
* **Input Handling:** Where the question asks to "Accept input", use the `input()` function.

## Section 1: Basic Variables & User Input (1-10)

1. **Hello World:** Print "Hello, World!" to the console.

2. **User Greeting:** Ask the user for their name using `input()` and print "Hello, [Name]!".

3. **Basic Arithmetic:** Ask the user for two numbers. Print their sum, difference, product, and division.

4. **Division types:** Ask for two numbers `a` and `b`. Print the result of float division (`/`) and integer division (`//`).

5. **Swap Variables:** Assign `a = 10` and `b = 20`. Swap their values using a third variable and print them.

6. **Swap Without Third Variable:** Assign `x = 50` and `y = 100`. Swap them *without* using a temporary variable.

7. **Data Type Check:** Create variables of type int, float, str, list, tuple, and dict. Print the type of each using `type()`.

8. **String to Int:** Given a string `s = "123"`, convert it to an integer and add 10 to it. Print the result.

9. **User Age Calculator:** Ask the user for their birth year. Calculate and print their age (assuming the current year is 2025).

10. **Float Formatting:** Ask the user for a floating-point number. Print it rounded to 2 decimal places.

## Section 2: Operators & Math Expressions (11-20)

11. **Modulus Operator:** Ask the user for a number. Print the remainder when it is divided by 3.

12. **Power Operator:** Calculate $2^5$ using the `**` operator.

13. **Area of Rectangle:** Ask the user for length and width. Calculate the area.

14. **Perimeter of Square:** Ask for the side length of a square. Calculate the perimeter ($4 \times side$).

15. **Circle Stats:** Ask for the radius of a circle. Calculate the Area ($\pi r^2$) and Circumference ($2\pi r$). (Use $\pi \approx 3.14$).

16. **Average Calculator:** Ask the user for three numbers. Calculate and print their average.

17. **Simple Interest:** Ask for Principal, Rate, and Time. Calculate Simple Interest using $SI = (P \times R \times T) / 100$.

18. **Seconds to Minutes:** Ask the user for a total number of seconds (e.g., 130). Convert it into minutes and remaining seconds (e.g., 2 minutes 10 seconds).

19. **Pythagoras:** Ask for the two legs of a right triangle ($a$ and $b$). Calculate the hypotenuse $c$ using $c = \sqrt{a^2 + b^2}$.

20. **Shopping Bill:** You bought 3 items costing $10, $20, and $30. Calculate the total cost with a 5% tax included.

## Section 3: Conditional Statements (If-Else) (21-35)

21. **Even or Odd:** Ask for a number. Check if it is even or odd.

22. **Age Group:** Ask for age. If age < 18, print "Minor". If age >= 18, print "Adult".

23. **Positive/Negative/Zero:** Ask for a number. Check if it is positive, negative, or zero.

24. **Divisibility Check:** Ask for a number. Check if it is divisible by both 5 and 10.

25. **Max of Two:** Ask for two numbers. Print the larger one.

26. **Max of Three:** Ask for three numbers. Print the largest among them.

27. **Leap Year:** Ask for a year. Determine if it is a leap year. (Hint: Divisible by 4, not 100, unless divisible by 400).

28. **Vowel Checker:** Ask for a single character. Check if it is a vowel (a, e, i, o, u).

29. **Grade Calculator:** Ask for a score (0-100). 
   * 90-100: A
   * 80-89: B
   * 70-79: C
   * 60-69: D
   * Below 60: F

30. **Triangle Validity:** Ask for three angles. Check if they form a valid triangle (Sum must be 180).

31. **Weekday Checker:** Ask for a number (1-7). Print the corresponding day (1=Monday, 2=Tuesday...).

32. **Weekend Checker:** Ask for a day name (e.g., "Saturday"). Print if it is a "Weekend" or "Weekday".

33. **Login System:** Ask for a username and password. If username is "admin" and password is "1234", print "Access Granted", else "Access Denied".

34. **Nested If (Scholarship):** Ask for a student's GPA and attendance score.
   * If GPA > 3.5:
      * If Attendance > 90: Print "Full Scholarship"
      * Else: Print "Partial Scholarship"
   * Else: Print "No Scholarship"

35. **Electricity Bill:** Ask for units consumed.
   * 0-100 units: $5/unit
   * 101-200 units: $10/unit
   * Above 200: $15/unit
   * Calculate the total bill.

## Section 4: Loops (For & While) (36-55)

36. **Print 1 to 20:** Use a `for` loop to print numbers from 1 to 20.

37. **Print Even Numbers:** Print all even numbers from 1 to 50.

38. **Print Odd Numbers:** Print all odd numbers from 1 to 50.

39. **Multiplication Table:** Ask the user for a number (e.g., 5). Print its multiplication table up to 12.

40. **Countdown:** Use a `while` loop to print numbers from 10 down to 1.

41. **Sum of N Numbers:** Ask the user for a number `N`. Calculate the sum of 1 to `N`.

42. **Factorial:** Calculate the factorial of a number provided by the user using a loop.

43. **Fibonacci Sequence:** Print the first 10 terms of the Fibonacci sequence (0, 1, 1, 2, 3, 5...).

44. **Digit Sum:** Ask for a number (e.g., 1234). Calculate the sum of its digits (1+2+3+4 = 10).

45. **Reverse Number:** Ask for a number (e.g., 5678). Reverse it mathematically (8765).

46. **Palindrome Number:** Check if a number is a palindrome (e.g., 121, 12321).

47. **Prime Number Check:** Ask for a number. Check if it is prime.

48. **Break Statement:** Loop from 1 to 100. Stop the loop if the number is 50.

49. **Continue Statement:** Loop from 1 to 20. Skip multiples of 3.

50. **Pattern 1:** Print a square of stars (5x5).

51. **Pattern 2:** Print a right-angled triangle of stars.
```
*
**
***
****
*****
```

52. **Pattern 3:** Print an inverted triangle.
```
*****
****
***
**
*
```

53. **List Iteration:** Create a list of 5 fruits. Use a loop to print each one.

54. **Find Max in List:** Given a list `[10, 5, 20, 8]`, find the maximum using a loop (no `max()` function).

55. **Count Occurrences:** Given a list `[1, 2, 2, 3, 2, 4]`, count how many times `2` appears using a loop.

## Section 5: Strings (56-65)

56. **String Slicing:** Ask for a string. Print the first 3 characters and the last 3 characters.

57. **Reverse String:** Ask for a string. Print it in reverse.

58. **Palindrome String:** Check if a string input by the user is a palindrome (e.g., "madam").

59. **Vowel Count:** Count the number of vowels in a string.

60. **Word Count:** Count the number of words in a sentence input by the user.

61. **Replace Character:** Ask for a string. Replace all occurrences of 'a' with '@'.

62. **Capitalize:** Ask for a sentence. Convert it to Title Case.

63. **Space Remover:** Remove all spaces from a given string.

64. **Substring Check:** Ask for a sentence and a word. Check if the word is present in the sentence.

65. **Longest Word:** Ask for a sentence. Find and print the longest word.

## Section 6: Lists, Tuples & Sets (66-75)

66. **List Append:** Create an empty list. Ask the user to enter 3 colors and add them to the list.

67. **Remove Item:** Given `nums = [1, 2, 3, 4, 5]`, remove the number 3.

68. **List Slicing:** Given `nums = [10, 20, 30, 40, 50]`, print `[20, 30, 40]`.

69. **Tuple Immutable:** Create a tuple `(1, 2, 3)`. Try to change index 0 to `100` and catch/observe the error.

70. **List vs Tuple:** Create a list and a tuple with the same elements. Print the size of both (memory usage).

71. **Remove Duplicates (Set):** Given `nums = [1, 2, 2, 3, 3, 3, 4]`, use a Set to remove duplicates.

72. **Set Intersection:** Given sets `A = {1, 2, 3}` and `B = {2, 3, 4}`, find common elements.

73. **Set Union:** Find all unique elements from both sets A and B above.

74. **List Comprehension:** Create a list of squares for numbers 1 to 10 using list comprehension.

75. **Even List:** Create a new list containing only even numbers from `[10, 15, 20, 25, 30]` using list comprehension.

## Section 7: Dictionaries (76-85)

76. **Create Dict:** Create a dictionary representing a `Person` (Name, Age, City).

77. **Access Value:** Print the 'City' from the dictionary.

78. **Update Value:** Change 'Age' to 30.

79. **Add Key:** Add a new key 'Profession' with value 'Engineer'.

80. **Iterate Keys:** Print all keys in the dictionary.

81. **Iterate Values:** Print all values in the dictionary.

82. **Iterate Items:** Print key-value pairs.

83. **Key Check:** Check if 'Gender' exists in the dictionary.

84. **Word Frequency:** Ask for a string. Create a dictionary that counts the frequency of each character (e.g., "hello" -> {'h':1, 'e':1, 'l':2, 'o':1}).

85. **Nested Dictionary:** Create a dictionary of 2 students, where each student has 'Math' and 'Science' marks.

## Section 8: Functions (86-92)

86. **Simple Function:** Write a function `greet()` that prints "Hello Python!".

87. **Parameters:** Write a function `add(a, b)` that returns the sum of two numbers.

88. **Return Value:** Write a function `square(x)` that returns the square of x.

89. **Default Parameter:** Write a function `power(base, exp=2)` that raises base to exponent (default square).

90. **Even/Odd Function:** Write a function that takes a number and returns True if even, False if odd.

91. **Variable Arguments:** Write a function `sum_all(*args)` that sums any number of arguments passed to it.

92. **Lambda Function:** Create a lambda function to multiply two numbers.

## Section 9: Object-Oriented Programming (93-97)

93. **Class Definition:** Define a class `Car` with attributes `brand` and `model`.

94. **Constructor:** Add an `__init__` method to initialize brand and model.

95. **Method:** Add a method `drive()` that prints "The [brand] is driving.".

96. **Inheritance:** Create a class `ElectricCar` that inherits from `Car`. Add a new attribute `battery_capacity`.

97. **Method Overriding:** Override the `drive()` method in `ElectricCar` to print "Driving silently...".

## Section 10: File Handling & Exception Handling (98-100)

98. **Write File:** Create a text file `data.txt` and write "Hello, File Handling!" into it.

99. **Read File:** Open `data.txt` and read the content. Print it to the console.

100. **Exception Handling:** Write a program that takes two numbers for division. Handle `ZeroDivisionError` and `ValueError` (if user enters text).