## Problem 1: Student Roll Numbers

**Scenario**: You are managing a fixed list of student roll numbers.

In [ ]:
# Initial data
roll_numbers = (101, 102, 103, 104, 105)

### Task 1
Print the tuple `roll_numbers`.

In [ ]:
# Write your code below

### Task 2
Print the length of `roll_numbers` (expected output: 5).

In [ ]:
# Write your code below

### Task 3
Print the type of `roll_numbers` (expected output: <class 'tuple'>).

In [ ]:
# Write your code below

### Task 4
Access and print the first item of `roll_numbers` (expected output: 101).

In [ ]:
# Write your code below

### Task 5
Access and print items from index 1 to 3 in `roll_numbers` (expected output: (102, 103, 104)).

In [ ]:
# Write your code below

### Task 6
Check if 103 exists in `roll_numbers` and print the result (expected output: True).

In [ ]:
# Write your code below

### Task 7
Change the second item (102) of `roll_numbers` to 106 by converting to a list and back to a tuple; then print the updated tuple.

In [ ]:
# Write your code below

### Task 8
Add a new item 107 to `roll_numbers` by concatenating with the tuple (107,); then print the new tuple.

In [ ]:
# Write your code below

### Task 9
Remove the item 104 from `roll_numbers` by converting it to a list, removing 104, and converting back to a tuple; then print the result.

In [ ]:
# Write your code below

### Task 10
Unpack `roll_numbers` into five variables and print each variable.

In [ ]:
# Write your code below

### Task 11
Loop through `roll_numbers` using a for loop and print each item.

In [ ]:
# Write your code below

### Task 12
Loop through `roll_numbers` using range() and print each item's index and value.

In [ ]:
# Write your code below

### Task 13
Join `roll_numbers` with the tuple (200, 201) and print the resulting tuple.

In [ ]:
# Write your code below

## Problem 2: Grocery Item Prices

**Scenario**: Track immutable prices of items in your store.

In [ ]:
# Initial data
prices = (49.99, 29.50, 15.75, 60.00, 10.00)

### Task 1
Print the tuple `prices`.

In [ ]:
# Write your code below

### Task 2
Print the length of `prices` (expected output: 5).

In [ ]:
# Write your code below

### Task 3
Print the type of `prices` (expected output: <class 'tuple'>).

In [ ]:
# Write your code below

### Task 4
Access and print the first price in `prices` (expected output: 49.99).

In [ ]:
# Write your code below

### Task 5
Access and print items from index 1 to 3 in `prices` (expected output: (29.5, 15.75, 60.0)).

In [ ]:
# Write your code below

### Task 6
Check if 15.75 exists in `prices` and print the result (expected output: True).

In [ ]:
# Write your code below

### Task 7
Change the third price (15.75) of `prices` to 16.50 by converting to a list and back to a tuple; then print the updated tuple.

In [ ]:
# Write your code below

### Task 8
Add a new price 12.00 to `prices` by concatenating with the tuple (12.00,); then print the new tuple.

In [ ]:
# Write your code below

### Task 9
Remove the price 60.00 from `prices` by converting it to a list, removing 60.00, and converting back to a tuple; then print the result.

In [ ]:
# Write your code below

### Task 10
Unpack `prices` into five variables and print them.

In [ ]:
# Write your code below

### Task 11
Loop through `prices` using a for loop and print each price.

In [ ]:
# Write your code below

### Task 12
Loop through `prices` using range() and print each index and price.

In [ ]:
# Write your code below

### Task 13
Join `prices` with the tuple (5.99, 9.99) and print the resulting tuple.

In [ ]:
# Write your code below

## Problem 3: Weekday Schedule

**Scenario**: You need to manage your weekly schedule using an immutable structure.

In [ ]:
# Initial data
weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

### Task 1
Print the tuple `weekdays`.

In [ ]:
# Write your code below

### Task 2
Print the length of `weekdays` (expected output: 5).

In [ ]:
# Write your code below

### Task 3
Print the type of `weekdays` (expected output: <class 'tuple'>).

In [ ]:
# Write your code below

### Task 4
Access and print the first day of `weekdays` (expected output: 'Monday').

In [ ]:
# Write your code below

### Task 5
Access and print days from index 1 to 3 in `weekdays` (expected output: ('Tuesday', 'Wednesday', 'Thursday')).

In [ ]:
# Write your code below

### Task 6
Check if 'Wednesday' exists in `weekdays` and print the result (expected output: True).

In [ ]:
# Write your code below

### Task 7
Change the second day ('Tuesday') of `weekdays` to 'Tuesday-Updated' by converting to a list and back to a tuple; then print the updated tuple.

In [ ]:
# Write your code below

### Task 8
Add a new day 'Saturday' to `weekdays` by concatenating with the tuple ('Saturday',); then print the new tuple.

In [ ]:
# Write your code below

### Task 9
Remove the day 'Thursday' from `weekdays` by converting it to a list, removing 'Thursday', and converting back to a tuple; then print the result.

In [ ]:
# Write your code below

### Task 10
Unpack `weekdays` into variables and print each variable.

In [ ]:
# Write your code below

### Task 11
Loop through `weekdays` using a for loop and print each day.

In [ ]:
# Write your code below

### Task 12
Loop through `weekdays` using range() and print each index and day.

In [ ]:
# Write your code below

### Task 13
Join `weekdays` with the tuple ('Sunday',) and print the resulting tuple.

In [ ]:
# Write your code below

## Problem 4: Sensor Readings

**Scenario**: You receive a fixed set of sensor readings from an IoT device.

In [ ]:
# Initial data
readings = (23.1, 22.8, 23.3, 24.0, 22.5)

### Task 1
Print the tuple `readings`.

In [ ]:
# Write your code below

### Task 2
Print the length of `readings` (expected output: 5).

In [ ]:
# Write your code below

### Task 3
Print the type of `readings` (expected output: <class 'tuple'>).

In [ ]:
# Write your code below

### Task 4
Access and print the first reading in `readings` (expected output: 23.1).

In [ ]:
# Write your code below

### Task 5
Access and print readings from index 1 to 3 in `readings` (expected output: (22.8, 23.3, 24.0)).

In [ ]:
# Write your code below

### Task 6
Check if 23.3 exists in `readings` and print the result (expected output: True).

In [ ]:
# Write your code below

### Task 7
Change the second reading (22.8) of `readings` to 22.9 by converting to a list and back to a tuple; then print the updated tuple.

In [ ]:
# Write your code below

### Task 8
Add a new reading 23.5 to `readings` by concatenating with the tuple (23.5,); then print the new tuple.

In [ ]:
# Write your code below

### Task 9
Remove the reading 24.0 from `readings` by converting it to a list, removing 24.0, and converting back to a tuple; then print the result.

In [ ]:
# Write your code below

### Task 10
Unpack `readings` into variables and print them.

In [ ]:
# Write your code below

### Task 11
Loop through `readings` using a for loop and print each reading.

In [ ]:
# Write your code below

### Task 12
Loop through `readings` using range() and print each index and reading.

In [ ]:
# Write your code below

### Task 13
Join `readings` with the tuple (25.0, 25.5) and print the resulting tuple.

In [ ]:
# Write your code below

## Problem 5: Movie Ratings

**Scenario**: Manage and analyze a fixed set of movie ratings.

In [ ]:
# Initial data
ratings = (4.5, 3.0, 4.0, 5.0, 2.5)

### Task 1
Print the tuple `ratings`.

In [ ]:
# Write your code below

### Task 2
Print the length of `ratings` (expected output: 5).

In [ ]:
# Write your code below

### Task 3
Print the type of `ratings` (expected output: <class 'tuple'>).

In [ ]:
# Write your code below

### Task 4
Access and print the first rating in `ratings` (expected output: 4.5).

In [ ]:
# Write your code below

### Task 5
Access and print ratings from index 1 to 3 in `ratings` (expected output: (3.0, 4.0, 5.0)).

In [ ]:
# Write your code below

### Task 6
Check if 4.0 exists in `ratings` and print the result (expected output: True).

In [ ]:
# Write your code below

### Task 7
Change the second rating (3.0) of `ratings` to 3.5 by converting to a list and back to a tuple; then print the updated tuple.

In [ ]:
# Write your code below

### Task 8
Add a new rating 4.8 to `ratings` by concatenating with the tuple (4.8,); then print the new tuple.

In [ ]:
# Write your code below

### Task 9
Remove the rating 2.5 from `ratings` by converting it to a list, removing 2.5, and converting back to a tuple; then print the result.

In [ ]:
# Write your code below

### Task 10
Unpack `ratings` into variables and print them.

In [ ]:
# Write your code below

### Task 11
Loop through `ratings` using a for loop and print each rating.

In [ ]:
# Write your code below

### Task 12
Loop through `ratings` using range() and print each index and rating.

In [ ]:
# Write your code below

### Task 13
Join `ratings` with the tuple (1.0, 1.5) and print the resulting tuple.

In [ ]:
# Write your code below