## Problem 1: Student Information System

**Scenario**: You are developing a student information manager for a school database.

In [ ]:
# Initial data
students = ["Alice", "Bob", "Charlie", "David", "Eva"]

### Task 1
Print the full list of students.

In [ ]:
# Write your code below

### Task 2
Print the type of the `students` object.

In [ ]:
# Write your code below

### Task 3
Access and print the first student.

In [ ]:
# Write your code below

### Task 4
Access and print students from index 1 to 3.

In [ ]:
# Write your code below

### Task 5
Check if `"Charlie"` exists in the list.

In [ ]:
# Write your code below

### Task 6
Change `"Eva"` to `"Evelyn"`.

In [ ]:
# Write your code below

### Task 7
Change `["Bob", "Charlie"]` to `["Brian", "Cathy"]` using slicing.

In [ ]:
# Write your code below

### Task 8
Append a new student `"Frank"` to the list.

In [ ]:
# Write your code below

### Task 9
Insert `"Grace"` at index 2.

In [ ]:
# Write your code below

### Task 10
Extend the list with `["Helen", "Ian"]`.

In [ ]:
# Write your code below

### Task 11
Remove the student `"Brian"`.

In [ ]:
# Write your code below

### Task 12
Remove the student at index 0 using `pop()`.

In [ ]:
# Write your code below

### Task 13
Remove `"Cathy"` using the `del` keyword.

In [ ]:
# Write your code below

### Task 14
Clear the student list at the end of the year.

In [ ]:
# Write your code below

### Task 15
Recreate the list and loop through it using a `for` loop to print each name.

In [ ]:
# Write your code below

### Task 16
Loop using `for` and `range()` to print student index and name.

In [ ]:
# Write your code below

### Task 17
Use list comprehension to create a new list with names in uppercase.

In [ ]:
# Write your code below

### Task 18
Sort the list alphabetically.

In [ ]:
# Write your code below

### Task 19
Sort the list in reverse (descending) order.

In [ ]:
# Write your code below

### Task 20
Reverse the order of the list.

In [ ]:
# Write your code below

### Task 21
Make a copy of the list and modify the original.

In [ ]:
# Write your code below

### Task 22
Join the list with another list: `["Jack", "Kara"]`.

In [ ]:
# Write your code below

## Problem 2: Grocery Store Inventory

**Scenario**: You are building an inventory system for a grocery store.

In [ ]:
# Initial data
inventory = ["milk", "bread", "butter", "cheese", "eggs"]

### Task 1
Print the inventory list and its type.

In [ ]:
# Write your code below

### Task 2
Access the first item.

In [ ]:
# Write your code below

### Task 3
Access items from index 2 to 4.

In [ ]:
# Write your code below

### Task 4
Check if `"bread"` is in inventory.

In [ ]:
# Write your code below

### Task 5
Replace `"butter"` with `"jam"`.

In [ ]:
# Write your code below

### Task 6
Replace `["cheese", "eggs"]` with `["yogurt", "paneer"]`.

In [ ]:
# Write your code below

### Task 7
Append `"honey"`.

In [ ]:
# Write your code below

### Task 8
Insert `"coffee"` at index 1.

In [ ]:
# Write your code below

### Task 9
Extend with `["tea", "sugar"]`.

In [ ]:
# Write your code below

### Task 10
Remove `"bread"`.

In [ ]:
# Write your code below

### Task 11
Pop the last item.

In [ ]:
# Write your code below

### Task 12
Delete `"jam"` using `del`.

In [ ]:
# Write your code below

### Task 13
Clear the entire list.

In [ ]:
# Write your code below

### Task 14
Reinitialize and print all items using a `for` loop.

In [ ]:
# Write your code below

### Task 15
Use `range()` to loop by index and print items.

In [ ]:
# Write your code below

### Task 16
Create a list of all items in uppercase using list comprehension.

In [ ]:
# Write your code below

### Task 17
Sort alphabetically.

In [ ]:
# Write your code below

### Task 18
Sort in descending order.

In [ ]:
# Write your code below

### Task 19
Reverse the inventory.

In [ ]:
# Write your code below

### Task 20
Copy the list before making changes.

In [ ]:
# Write your code below

### Task 21
Join with another inventory list: `["chips", "soda"]`.

In [ ]:
# Write your code below

## Problem 3: Daily Task Planner

**Scenario**: You are creating a to-do list app that helps organize daily tasks.

In [ ]:
# Initial data
tasks = ["email", "meeting", "coding", "review", "submit report"]

### Task 1
Print the list and check its type.

In [ ]:
# Write your code below

### Task 2
Access the second task.

In [ ]:
# Write your code below

### Task 3
Print tasks from index 1 to 3.

In [ ]:
# Write your code below

### Task 4
Check if `"coding"` is in the list.

In [ ]:
# Write your code below

### Task 5
Change `"review"` to `"test code"`.

In [ ]:
# Write your code below

### Task 6
Change a range `["coding", "test code"]` to `["design", "debug"]`.

In [ ]:
# Write your code below

### Task 7
Append `"lunch"`.

In [ ]:
# Write your code below

### Task 8
Insert `"stand-up"` at index 0.

In [ ]:
# Write your code below

### Task 9
Extend with `["wrap-up", "log-off"]`.

In [ ]:
# Write your code below

### Task 10
Remove `"meeting"`.

In [ ]:
# Write your code below

### Task 11
Pop the task at index 4.

In [ ]:
# Write your code below

### Task 12
Delete `"debug"` using `del`.

In [ ]:
# Write your code below

### Task 13
Clear the task list after the day ends.

In [ ]:
# Write your code below

### Task 14
Loop and print tasks using a `for` loop.

In [ ]:
# Write your code below

### Task 15
Print with index using `range(len(tasks))`.

In [ ]:
# Write your code below

### Task 16
Create a new list with capitalized task names using list comprehension.

In [ ]:
# Write your code below

### Task 17
Sort tasks alphabetically.

In [ ]:
# Write your code below

### Task 18
Sort tasks in reverse order.

In [ ]:
# Write your code below

### Task 19
Reverse the task list.

In [ ]:
# Write your code below

### Task 20
Copy the list before clearing.

In [ ]:
# Write your code below

### Task 21
Join with another list of tasks: `["dinner", "relax"]`.

In [ ]:
# Write your code below

## Problem 4: Exam Score Tracker

**Scenario**: You're managing students' exam scores and need to process them.

In [ ]:
# Initial data
scores = [88, 92, 75, 89, 92, 67]

### Task 1
Print the list and its type.

In [ ]:
# Write your code below

### Task 2
Access the third score.

In [ ]:
# Write your code below

### Task 3
Print scores from index 2 to 5.

In [ ]:
# Write your code below

### Task 4
Check if `92` is in the list.

In [ ]:
# Write your code below

### Task 5
Replace the first `75` with `78`.

In [ ]:
# Write your code below

### Task 6
Replace a range `[89, 92]` with `[85, 90]`.

In [ ]:
# Write your code below

### Task 7
Append a score `95`.

In [ ]:
# Write your code below

### Task 8
Insert `82` at index 1.

In [ ]:
# Write your code below

### Task 9
Extend with `[100, 68, 76]`.

In [ ]:
# Write your code below

### Task 10
Remove the first `92`.

In [ ]:
# Write your code below

### Task 11
Pop the last score.

In [ ]:
# Write your code below

### Task 12
Use `del` to remove score at index 0.

In [ ]:
# Write your code below

### Task 13
Clear the entire score list.

In [ ]:
# Write your code below

### Task 14
Recreate the list and print scores using `for`.

In [ ]:
# Write your code below

### Task 15
Print index and score using `range()`.

In [ ]:
# Write your code below

### Task 16
Create a new list of squares of scores using list comprehension.

In [ ]:
# Write your code below

### Task 17
Sort scores in ascending order.

In [ ]:
# Write your code below

### Task 18
Sort scores in descending order.

In [ ]:
# Write your code below

### Task 19
Reverse the order of scores.

In [ ]:
# Write your code below

### Task 20
Copy the score list before sorting.

In [ ]:
# Write your code below

### Task 21
Join with another score list: `[60, 70]`.

In [ ]:
# Write your code below

## Problem 5: Movie Watchlist Manager

**Scenario**: Build and manage a personal movie watchlist.

In [ ]:
# Initial data
movies = ["Inception", "Titanic", "Avatar", "Gravity", "Titanic"]

### Task 1
Print the movie list and check its type.

In [ ]:
# Write your code below

### Task 2
Access the first movie.

In [ ]:
# Write your code below

### Task 3
Print movies from index 1 to 4.

In [ ]:
# Write your code below

### Task 4
Check if `"Avatar"` exists in the list.

In [ ]:
# Write your code below

### Task 5
Change `"Gravity"` to `"Interstellar"`.

In [ ]:
# Write your code below

### Task 6
Change a range of movies `["Titanic", "Avatar"]` to `["Shutter Island", "Tenet"]`.

In [ ]:
# Write your code below

### Task 7
Append `"The Prestige"`.

In [ ]:
# Write your code below

### Task 8
Insert `"Memento"` at index 1.

In [ ]:
# Write your code below

### Task 9
Extend with `["The Dark Knight", "Dunkirk"]`.

In [ ]:
# Write your code below

### Task 10
Remove one `"Titanic"` from the list.

In [ ]:
# Write your code below

### Task 11
Pop the last movie.

In [ ]:
# Write your code below

### Task 12
Delete `"Shutter Island"` using `del`.

In [ ]:
# Write your code below

### Task 13
Clear the entire movie list.

In [ ]:
# Write your code below

### Task 14
Recreate and print each movie using a loop.

In [ ]:
# Write your code below

### Task 15
Print using index numbers via `range()`.

In [ ]:
# Write your code below

### Task 16
Create a new list with movie titles in lowercase using list comprehension.

In [ ]:
# Write your code below

### Task 17
Sort the movies alphabetically.

In [ ]:
# Write your code below

### Task 18
Sort in reverse alphabetical order.

In [ ]:
# Write your code below

### Task 19
Reverse the list order.

In [ ]:
# Write your code below

### Task 20
Copy the list to a backup variable.

In [ ]:
# Write your code below

### Task 21
Join with another list: `["Oppenheimer", "Barbie"]`.

In [ ]:
# Write your code below